.maincontent {
    height: 85vh;
    width: 97%;

    .motivation {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
        background: linear-gradient(to top left, #380752, #000000, #073452);
         border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658);
        height: 120px;
        display: flex;
        margin: auto;
        margin-top: 15px;

        .mtext {
            width: 60vw;
            margin: auto;
        }
    }


    .header {
        width: 320px;
        margin-left: 35px;
        background-color: #fff;
        align-items: center;
        text-align: center;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.938);

    }

    .main {
        width: 97%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;

        .attendance {
            width: 20%;
            height: 100%;

            .working {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

                .clock {

                    align-items: center;
                    background: linear-gradient(to top left, #380752, #000000, #073452);
                    text-align: center;
                    color: aliceblue;
                }

            }

            .btn {
                align-items: center;
                text-align: center;
                margin-top: 1rem;

            }
        }

        .finance {
            width: 77%;
            height: 100%;
            padding: 15px;
            align-items: center;

            .attendee {
                border-radius: 10px;
                margin-bottom: 2rem;
                height: 300px;
                font-weight: 900;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
                background-color: #ffffff;
                overflow: scroll;
             

                .head {
                    margin-top: 1rem;
                    align-items:center ;
                    background-color: #b5edf9;
                    display: flex;
                    border-bottom: 2px solid;
                    display: flex;
                    gap: 550px;

                    .h1{
                        display: flex;
                    }
                }

                .days {
                    display: flex;
                    margin: 1rem;
                    gap: 550px;
                    align-items: center;
                    border-bottom: 2px solid;

                }

                .Days-absent {
                    display: flex;
                    margin: 1rem;
                    gap: 550px;
                    align-items: center;
                    border-bottom: 2px solid;

                }

                .leave {
                    display: flex;
                    margin: 1rem;
                    gap: 550px;
                    align-items: center;
                    border-bottom: 2px solid;

                }
                .leave {
                    display: flex;
                    margin: 1rem;
                    gap: 550px;
                    align-items: center;
                }
            }

            .stats {
                height: 25%;
                width: 100%;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.945);
                background-color: #fff;
                margin-bottom: 2rem;
                border-radius: 10px;
                overflow: scroll;

                table {
                    border-collapse: collapse;
                    width: 100%;
                }

                th,
                td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                th {
                    background-color: rgb(231, 66, 1);
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

            }

            .payroll {
                height: 30%;
                width: 100%;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
                background-color: #a11a1a;
                border-radius: 10px;
                text-align: center;

                .body {
                    display: flex;

                    .gross {
                        flex: 1;
                        height: 147px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        .overtime {
                            display: flex;
                            justify-content: space-around;
                            margin: 1rem;
                            background-color: rgb(177, 177, 177);
                        }

                        .rate {
                            display: flex;
                            justify-content: space-around;
                            background-color: rgb(177, 177, 177);

                        }

                        .sum {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px;
                            height: 20px;
                            align-items: center;
                            color: white;
                            background-color: rgb(231, 66, 1);
                        }
                    }

                    .advance {
                        flex: 1;
                        height: 147px;
                        text-align: center;
                        flex-direction: column;
                        justify-content: space-between;

                        .overtime {
                            display: flex;
                            justify-content: space-around;
                            background-color: rgb(177, 177, 177);
                            margin: 1rem;
                        }

                        .rate {
                            display: flex;
                            justify-content: space-around;
                            background-color: rgb(177, 177, 177);
                            border-left: 1px solid;



                        }

                        .sum {
                            display: flex;
                            justify-content: space-between;
                            padding: 15px;
                            height: 20px;
                            align-items: center;
                            text-align: center;
                            color: rgb(255, 255, 255);
                            background-color: rgb(231, 66, 1);
                            border-left: 1px solid;
                        }
                    }
                }
            }
        }
    }
}