.worktimer-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  
    .worktimer-heading {
      margin-top: 0;
    }
  
    .worktimer-details {
      margin-bottom: 20px;
  
      p {
        margin: 5px 0;
      }
  
      .display {
        display: flex;
        flex-direction: column;
  
        .employee-photo {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          margin-top: 10px;
        }
      }
    }
  
    .worktimer-actions {
      text-align: center;
  
      .start-button, .stop-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: #fff;
        transition: background-color 0.3s ease;
  
        &.start-button {
          background-color: green;
        }
  
        &.stop-button {
          background-color: red;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  