.worktimer-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #a3293d;
    overflow: auto;
    scrollbar-width: none;
    height: 700px;
    span{
      color: rgb(0, 0, 0);
      font-size: 20px;
      padding: 0 5px;
      border: 2px solid #ccc;
    }
  .btn{
    button{
      background-color: blue;
      height: 30px;
      width: 220px;
      border-radius: 10px;
      color:  white;
      border: none;

      font-size: 20px;
      &:hover{
        background-color: #fff;
        color: rgb(21, 0, 255);
        border: 1px solid;
      }
    }
  }
    .worktimer-heading {
      margin-top: 0;
      background-color: #00fff2;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      justify-content: center;
    }
  
    .worktimer-details {
      margin-bottom: 20px;
      color: #231294;
      background-color: #fff;
      text-transform: capitalize;
      padding: 0 10px;
  
      p {
        margin: 5px 0;
      }
  
      .display {
        display: flex;
        flex-direction: column;
        .employee-photo {
          height: 200px;
          width: 200px;
          object-fit: fill;
          border-radius: 50%;
        }
      }
    }
  
    .worktimer-actions {
      text-align: center;
  
      .start-button, .stop-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: #fff;
        transition: background-color 0.3s ease;
  
        &.start-button {
          background-color: green;
        }
  
        &.stop-button {
          background-color: red;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  