
.deduction-table-container {
    margin-top: 20px;
    margin-left: 45px;
  }
  
  .deduction-table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .deduction-table th,
  .deduction-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .deduction-table th {
    background-color: #e8f000;
    font-weight: bold;
  }
  
  .deduction-table {
    background-color: #ffffff;
  }
  