.Attendance {
   padding: 20px;
   margin-left: 410px;
   height: 60vh;
   margin-top: 4rem;
   gap: 10px;
 }
 
 .heading {
   font-size: 24px;
 }
 
 .common-holder {
   display: flex;
   justify-content: space-between;
 }
 
 .attendance-table {
   width: 100%;
   border-collapse: collapse;
   background-color: #fff;
 }
 
 .attendance-table th, .attendance-table td {
   padding: 8px;
   border: 1px solid #967575;
   text-align: left;
 }
 
 .attendance-table th {
   background-color: #25aadf;
   font-weight: bold;
 }
 
 .attendance-table tbody tr:nth-child(even) {
   background-color: #f9f9f9;
 }
 