.btn1{
  background-color: rgba(15, 82, 182, 0.671);
  border: none;
  margin: 0px 10px;
  height: 30px;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  &:hover{
    background-color: green;
  }
}
.eventWrap {
    background-color: #ffffff;
    border-radius: 10px;
    height: 50vh;
    width: 520px;
    align-items: center;
    display: flex;
    margin: auto;
    gap: 20px;
    .textarea {
      display: flex;
      flex-direction: column;
      margin: auto;
  select{
    margin-top: 20px;
    padding: 8px;
    height: 60px;
    width: 420px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    border: 2px solid rgb(0, 78, 247);
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    font-size: 16px;
  }
      input {
        margin-top: 20px;
        padding: 8px;
        height: 60px;
        width: 420px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
        border: 2px solid rgb(0, 78, 247);
        background-color: transparent;
        color: black;
        font-weight: 600;
        font-size: 20px;
        border-radius: 5px;
        font-size: 16px;
  
        &:focus {
          outline: none;
          border-color: dodgerblue;
        }
      }
    }
  
    .footer {
      display: flex;
      justify-content: flex-end;
  
      .btn {
        display: flex;
        margin: auto;
        button {
          padding: 10px 20px;
          background-color: dodgerblue;
          color: white;
          border: none;
          margin-top: 80px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
  
          &:hover {
            background-color: #226433; 
          }
  
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }
  }
  