// AdvanceTable.scss

.advance-table-container {
    margin-top: 20px;
  }
  
  .advance-table {
    width: 90%;
    border-collapse: collapse;
  }
  
  .advance-table th,
  .advance-table td {
    padding: 8px;
    border: 1px solid #ffd000;
    text-align: left;
  }
  
  .advance-table th {
    background-color: #e8f000;
    font-weight: bold;
  }
  
  .advance-table tbody {
    background-color: #f2f2f2;
  }
  