// AdvanceTable.scss

.advance-table-container {
    margin-top: 20px;
  }
  
  .advance-table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 0 10px 0;
  }
  
  .advance-table th,
  .advance-table td {
    padding: 8px;
    border: 1px solid #eeeeee;
    text-align: left;
  }
  
  .advance-table th {
    background-color: #00acf0;
    font-weight: bold;
  }
  
  .advance-table tbody {
    color: #fff;
    background: linear-gradient(to top left,rgb(21, 4, 66),rgba(16, 41, 80, 0.973),rgb(7, 6, 66));

  }
  