.advance-table-container {
    margin-top: 20px;
  }
  
  .advance-table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 0 10px 0;
  }
  
  .advance-table th,
  .advance-table td {
    padding: 8px;
    border: 1px solid #eeeeee;
    text-align: left;
  }
  
  .advance-table th {
    background-color: #28b1a3;
    font-weight: bold;
    color: white;
  }
  
  .advance-table tbody {
    background-color: rgb(218, 219, 218);

  }
  