.payroll-management {
   margin: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-left: 410px;
   background-color: #fff;
   height: 100vh;
   margin-top: 1rem;
   overflow-x: scroll;
 
   h2 {
     margin-bottom: 10px;
   }
 
   .input-fields {
     margin-bottom: 10px;
 
     input {
       padding: 8px;
       margin-right: 10px;
       border: 2px solid #2ca9b9;
       background-color: #d8d8d8;
       border-radius: 5px;
       font-size: 18px;
     }
 
     button {
       padding: 8px 12px;
       background-color: #007bff;
       color: #fff;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s;
 
       &:hover {
         background-color: #0b684c;
       }
     }
   }
 
   table {
     width: 100%;
     border-collapse: collapse;
    // color: white;
    background-color: rgb(218, 219, 218);

     font-size: 18px;
     font-weight: 700;

 
     th, td {
       padding: 8px;
       text-align: left;
       border-bottom: 1px solid;
     }
 
     th {
      background-color: #28b1a3;
       color: rgb(255, 255, 255);
     }
   }
 }
 