.dashbord1 {
  margin-left: 410px;
  height: 100vh;
  background-color: #ffffff;
  margin-top: 1rem;
  background-size: cover;
  width: 79%;
  border-radius: 10px;

  
  .lower {
    height: 400px;
    width: 90%;
    margin-left: 100px;
    margin-top: 30px;
    background-color: #d2dadb;

  }
  .dashbord-text {
    background: linear-gradient(to top left, #00d9ff, #ffe600be); 
    border-bottom: 1px solid #dd0acb;
    width: 400px;
    border-radius: 5px;
    align-items: center;
    color: #000000;
    font-size: 18px;
    margin: 10px 95px;
    text-align: center;
  }
}
