
.profile-management {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 410px;
  height: 100vh;
  margin-top: 3rem;
  overflow-x: scroll;
  
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    .profile-info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
      }
  
      p {
        margin: 0;
        font-size: 18px;
        color: #333;
      }
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
   .profile-holder{
    display: flex;
    gap: 10px;
    
    .edit-profile-form{
      background-color: #fff;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.25);

      .inputs{
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
      }
      .head{
        background-color: rgb(255, 149, 0);
        border-radius: 10px;
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }
    .change-password-form{
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
      .inputs{
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
      }
      .head{
        background-color: rgb(255, 149, 0);
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
      }

    }
    form {
      width: 50%;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
      }
  
      input[type='text'],
      input[type='email'],
      input[type='password'],
      input[type='file'] {
        width: 80%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        align-items: center;
        border-radius: 5px;
        font-size: 16px;
      }
  
      input[type='file'] {
        margin-bottom: 20px;
      }
  
      button[type='submit'] {
        width: 80%;
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #218838;
        }
   }
      }
    }
  }
  