.table{
   margin-top: 2rem;
   // overflow-x: scroll;
   overflow-x: scroll;
   height: 90vh;
   table{
      // border: 2px solid;
      // border-collapse: collapse;
      font-size: 20px;
      height: 160px;
      width: 90%;
      overflow: scroll;
      .btn button{
         margin-right: 8px;
         height: 30px;
      }
      th{
         border: 2px solid ;
         background-color:rgba(255,153,0,1);
         border-collapse: collapse;
         font-weight: 800;
      }
      td{
         border: 2px solid rgba(255,153,0,1);
         border-collapse: collapse;
         margin: auto;
         .img{
            border-radius: 50%;
            height: 44px;
            margin: auto;
            width: 44px;
            display: flex;
            &:hover{
               height: 50vh;
               width: 50vw;
               position: relative;
               align-items: center;
               display: flex;
               border-radius: 0%;
            }
         }
      }
   }
}