.payroll-record {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.945);
  
    .record-item {
      display: flex;
      margin-bottom: 10px;
  
      .record-label {
        flex: 1;
        font-weight: bold;
        border-bottom: 1px solid;
      }
  
      .record-value {
        flex: 2;
      }
    }
  }
  